page-festa-detalhe {
  .text-center {
    text-align: center;
    font-size: 3.3rem !important;
  }

  .center{
    text-align: center;
  }

  .bar-header {
    height: 9em;
  }

  .transp {
    background-color: transparent !important;
    box-shadow: none !important;
    top: 0.3em;
  }

  .badge-md {
    border-radius: 10px;
  }
  .top {
    top: 0.3% !important;
  }

  .pdtop {
    margin-top: 1.5rem !important;
  }


  .tam{
    font-size: 2em !important;
  }
}
